@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap%27");
html,
body,
#root {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  display: flex;
  min-height: 100%;
  width: 100%;
  background: url("../public/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
