.main-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.footer-pagination {
  display: flex;
  width: 90%;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.pagination-button-number {
  display: flex;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 2px 0 2px;
}

.change-page-button {
  display: flex;
  background-color: transparent;
  border: none;
}

.card-button {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.card-button:hover {
  transform: scale(1.1);
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: WhiteSmoke;
  margin: 0 15px;
}

.modal-section {
  display: flex;
  flex-direction: column;
}

.span-modal {
  color: red;
}

.card-image {
  max-width: 100%;
  margin-bottom: 10px;
}

.modal-close-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn-close {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
