.card-component {
  display: "flex";
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 22rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 0, 0, 0.5);
  margin: 5px 15px 5px 15px;
  text-align: center;
}
.card-image {
  display: flex;
  border-radius: 10px 10px 0 0;
}
