.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 3rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
}
