.card-component {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 20px;
  max-height: 40%;
}
.card-image {
  display: flex;

  width: "300px";
}
